html, body {height: 100%;}

body {
   font-family:Arial,Helmet,sans-serif;
   background-color:#000020;
}

a {
   color: #0000EE;
}

a:link { 
   color: #0000EE; 
}

a:visited { 
   color: #551A8B; 
}

.navbar-header {
   padding-left: 75px;
   padding-right: 75px;
   height: 50px;
}

.navbar-brand {
   padding: 0 0 0 0;
}

.navbar {
   height: 50px;
   min-height: 50px;
   background-color: white;
   border-bottom: 2px solid #C9C9C9;
   border-radius: 0;
   margin: 0;
}

.navbar-collapse {
   padding-left: 0;
   padding-right: 0;
}

.navbar-default .navbar-nav>li>a {
   color: #0000EE;
}

#login {
   float: right;
   padding-top: 15px;
   margin-right: 75px; 
   font-size: 0.95em;
}

.centered {
   margin-top: 250px;
   /*
   z-index: 4;
   */
}

#background_cycler {
   margin:0;
   width:100%;
   height:100%;
   position:absolute;
   top:0;
   left:0;
   z-index:-1;
   overflow: auto;
}

#background_cycler div {
   position:absolute;
   left:0;
   top:50px;
   width:100%;
   height:100%;
   z-index:1;

   background-color:white;
   
   background-size:cover;
   background-position:center center;
}

#background_cycler div.active {
   z-index:3;
}

.hide {
   display: none;
}