.navbar-header {
   padding-left: 0px;
   padding-right: 0px;
   height: 50px;
}

.navbar-brand {
   padding: 0 0 0 0;
}

.navbar {
   height: 50px;
   min-height: 50px;
   background-color: white;
   border-bottom: 2px solid #C9C9C9;
   border-radius: 0;
   margin: 0;
}

.navbar-collapse {
   padding-left: 0;
   padding-right: 0;
}

.navbar-default .navbar-nav>li>a {
   color: #0000EE;
}

.nav-user {
   float: right;
   padding-top: 15px;
   margin-right: 75px; 
   font-size: 0.95em;
}
