html, body {height: 100%;}

body {
   font-family:Arial,Helmet,sans-serif;
   background-color:#000020;
}

a {
   color: #0000EE;
}

a:link { 
   color: #0000EE; 
}

a:visited { 
   color: #551A8B; 
}

.navbar-header {
   padding-left: 0px;
   padding-right: 0px;
   height: 100px;
}

.navbar-brand {
   padding: 0 0 0 0;
}

.navbar {
   height: 100px;
   min-height: 100px;
   background-color: white;
   border-bottom: 2px solid #C9C9C9;
   border-radius: 0;
   margin: 0;
}

.navbar-collapse {
   padding-left: 0;
   padding-right: 0;
}

.navbar-default .navbar-nav>li>a {
   color: #0000EE;
}

#login {
   float: right;
   padding-top: 35px;
   margin-right: 75px; 
   font-size: 0.95em;
}

.container {
   margin: 0;
   padding: 0;
}

#content {
   position: relative;
   background-color: purple;
   width: 100%;
}

