html, body {height: 100%;}

body {
   font-family:Arial,Helmet,sans-serif;
   background-color:#000020;
   color: black;
}

a {
   color: #0000EE;
}

a:link { 
   color: #0000EE; 
}

a:visited { 
   color: #551A8B; 
}

span { 
    height: 100%;
    vertical-align: middle;
    display: inline-block; 
 }

 h1, h2, h3, h4 {
   color: rgb(0,84,166);
 }


#login {
   float: right;
   padding-top: 15px;
   margin-right: 25px; 
   font-size: 0.95em;
}

.container {
   margin: 0;
   padding: 0;
}

#content {
   position: absolute;
   left: 0;
   top: 100px;
   width: 100%;
}

#search-bar {
   position: absolute;
   vertical-align: middle;
   display: inline-block; 
   left: 0;
   top: 50px;
   height: 50px;
   background-color: #ecf0f1;
   border-bottom: 2px solid #C9C9C9;
   border-radius: 0;
   margin-left: 300px;
   padding-top: 7px;
   padding-left: 15px;
   padding-bottom: 7px;
   padding-right: 15px;
}

#basic_search_input {
   vertical-align: middle;
   display: inline-block; 
   border: 2px solid #C9C9C9;
   border-radius: 30px;
   line-height: 1.0;
   height: 30px;
   width: 300px;

}

#range {
   display: inline;
   padding-left: 15px;
}

#range select {

}

#search-by {
   display: inline;
   padding-left: 15px;
}

#search-by select {
   margin-top: 2px;
}

#open-resorts {
   display: inline;
   padding-top: 4px;
   padding-left: 15px;
}

#open-resorts span {
   vertical-align: middle;
   display: inline-block;
   height: 100%;
   padding-top: 5px;
}

#open-resorts-checkbox {
   margin-right: 5px;
}

#advanced-search {
   height: 100%;
   vertical-align: middle;
   display: inline-block; 
   text-align: left;
   margin-top: -10px;
   margin-left: 15px;
   padding-left: 0;
   border: none;
   border-radius: 0;
   background-color: rgba(0, 0, 0, 0.0);
   color: rgb(0,84,166);
   border-color: rgb(0,84,166);
   text-decoration: underline;
}

#map-canvas {
   float: left;
   height: 100%;
}

#search-info {
   position: absolute;
   left: 400px;
   top: 0;
   overflow-x: hidden;
   background-color: white;
}

#result-extended-info {
   float: right;
   padding-left: 30px;
   padding-right: 30px;
   padding-top: 0px;
   padding-bottom: 15px;
   border-left: 2px solid #C9C9C9;
   border-right: 2px solid #C9C9C9;
   border-bottom: 2px solid #C9C9C9;
   text-align: left;
   overflow-y: scroll;
   overflow-x: hidden; 
}

#search-collumn {
   float: left;
   width:400px;
   height:100%;
   overflow-y: scroll;
   background-color: white;
   border-left: 2px solid #C9C9C9;
   border-radius: 0;
   background-color: white;
   margin: 0;
}

.search-collumn-padding {
   padding-left: 30px;
   padding-right: 30px;
   padding-top: 15px;
   padding-bottom: 15px;
}

#search-collumn h1 {

   text-align: center;
   color: rgb(0,84,166);
   margin: 0.33em 0;
}

#search-box {
   border-bottom: 1px solid #C9C9C9;
   border-radius: 0px;
}

#filter-box {
   border-bottom: 2px solid #C9C9C9;
   border-radius: 0px;
}

#filter-box-container {
   width: 200px;
}

.search-results {
   border-bottom: 1px solid #C9C9C9;
   border-radius: 0px;
   text-align: left;
}

.search-results h2 {
   font-size: 1.5em;
   color: rgb(0,84,166);
   margin: 0.33em 0;
   max-width: 300px;
}

.search-results span {
   font-size: 0.85em;
}

.srei-margin {
   margin-left: 20px;
   margin-right: 20px;
}

#srei-resort-title {
   text-align: center;
}

#srei-driving-time-title {
   display: inline-block;
   font-size: 1.0em;
   color: #333333;
   font-weight: bold;
   margin-bottom: 0;
   margin-top: 0;
}

#srei-driving-time {
   display: inline-block;
   margin-left: 10px;
   font-size: 1.0em;
   color: #333333;
   margin-bottom: 0;
   margin-top: 0;
}

.srei-subtitle-box {
   background-color: #ecf0f1;
   width: 100%;
   height: 30px;
   text-align: left;
   padding-left: 20px;
   padding-top: 5px;
   margin-top: 15px;
   margin-bottom: 6px;
}

#srei-operatingStatus {
   color: red;
   font-size: 1.20em;
   text-align: right;
   margin-top: -25px;
   margin-right: 2px;
   margin-bottom: 0;
}

#srei-conditions {
   width: 100%;
   position: relative;
}

#srei-weather-icon {
   width: 30%;
   height: 140px;
   background-image: url(../images/cloudy.png);
   background-size: contain;
   background-repeat:no-repeat;
   float: left;
   background-position: center center; 
}

#srei-weather-text {
   position:absolute;
   width:173px;
   bottom:0;
   text-align:center;
   margin-bottom: 7px;
}

#srei-mountain {
   width: 40%;
   height: 140px;
   background-image: url(../images/MountainIcon.jpg);
   background-size: contain;
   background-repeat:no-repeat;
   display: inline-block;
   text-align: right;
   padding-right:15px; 
}

#srei-summit-temp {
   margin-top: 5px;
   font-size: 1.5em;
   color: #333333;
}

#srei-base-temp {
   margin-top: 30px;
   font-size: 1.5em;
   color: #333333;
}

#srei-snow-quality {
   margin-top: 12px;
   font-size: 0.95em;
   color: #333333;
   text-align: left;
   margin-left: 90px;
}

#srei-snowfall-box {
   width: 30%;
   height: 140px;
   float: right;
   padding: 5px;
}

#srei-snowfall-box h1 {
   color: #333333;
   font-size: 1.0em;
   font-weight: bold;
   text-align: center;
   margin-top: 5px;
   margin-left: 5px;
   margin-right: 5px;
}

#srei-snowfall-graph {
   background-color: #6699cc;
   width: 20px;
   height: 72px;
   margin-left: 45px;
   float: left;
}

#srei-snowfall-graph-fill {
   width: 100%;
   height: 0%;
   background-color: #ecf0f1;
}

#srei-snowfall-data {
   margin-right: 45px;
   margin-top: 25px;
   color: #333333;
   font-size: 1.0em;
   float: right;
}

#srei-trails {
   background-color: orange;
   width: 100%;
   position: relative;
}

#srei-trails-left-collumn {
   width: 55%;
   height: 300px;
   float: left;
   padding-top: 30px;
}

.srei-trails-right-collumn {
   width: 45%;
   height: 300px;
   float: right;
/*   padding-left: 10px;
   padding-right: 10px;*/
}

.chart-color-box {
   width: 10px;
   height: 10px;
   margin-right: 5px;
   margin-left: 10px;
}

#srei-trails-left-collumn-top {
   width: 100%;
   height: 50%;
}

#srei-open-trails {
   height:100%;
   width:50%;
   float left;
}

#srei-open-trails h1 {
   color: #333333;
   font-size: 1.0em;
   font-weight: bold;
   text-align: center;
   margin-top: 5px;
   margin-left: 5px;
   margin-right: 5px;
   margin-bottom: 25px;
}

#srei-trails-graph {
   background-color: #669933;
   width: 72px;
   height: 72px;
   margin-left: 45px;
}

#srei-trails-graph-fill {
   width: 100%;
   height: 30%;
   background-color: #ecf0f1;
}

#srei-trails-data {
   margin-top: -45px;
   color: #333333;
   font-size: 1.0em;
   margin-left: 72px;
}

#srei-open-lifts {
   height:100%;
   width:50%;
   float right;
}

#srei-open-lifts h1 {
   color: #333333;
   font-size: 1.0em;
   font-weight: bold;
   text-align: center;
   margin-top: 5px;
   margin-left: 5px;
   margin-right: 5px;
   margin-bottom: 25px;
}

#srei-lifts-graph {
   background-color: #333333;
   width: 20px;
   height: 72px;
   margin-left: 45px;
   float: left;
}

#srei-lifts-graph-fill {
   width: 100%;
   height: 60%;
   background-color: #ecf0f1;
}

#srei-lifts-data {
   margin-right: 45px;
   margin-top: 25px;
   color: #333333;
   font-size: 1.0em;
   float: right;
}

#srei-trails-left-collumn-bottom {
   width: 100%;
   height: 50%;
   padding-top: 30px;
   padding-left: 20px;
   padding-right: 20px;
}

#srei-trails-left-collumn-bottom h1 {
   color: #333333;
   font-size: 1em;
   font-weight: bold;
   margin-top: 10px;
   margin-bottom: 5px;
}

#srei-pipes-and-parks {
   padding-top: 0px;
   margin-left: 20px;
   color: #333333;
   font-size: 0.95em;
}

.resort-title-line {
   width: 100%;
   padding-bottom: 5px;
}

.resort-title-line h2 {
   display: inline;
}

.star {
   width: 20px;
   height: 20px;
   float: right;
   background: url(../images/StarRollover.png) no-repeat 0 0;
}

.star:hover, .star.favorite{
   background-position: -19px 0px;
}

.runs-open-container {
   width: 100%;
   padding-left: 2px;
   padding-right: 2px;
}

#runs-open-container-1 {
   background-color: #9FF7F8;
}

.runs-open {
   float: right;
   padding-top: 3px;
   padding-right: 2px;
}

.snowfall-container {
   width: 100%;
   padding-left: 2px;
   padding-right: 2px;
}

.snowfall {
   float: right;
   padding-top: 3px;
   padding-right: 2px;
}

#snowfall-container-1 {
   background-color: #CFA20E;
}

#srei-contact-info {
   width: 48%;
   height: 350px;
   float:; left;
}

#srei-contact-info table {
   width: 100%;
   font-size: 0.85em;
   text-align: left;
}

#srei-contact-info p {
   margin-bottom: 0;
}

#srei-hours {
   width: 48%;
   height: 300px;
   float: right;
}

#srei-hours table {
   width: 100%;
   font-size: 0.85em;
   text-align: left;
}
#srei-hours table td {
   padding-left: 7px;
   padding-right: 7px;
   padding-top: 0px;
   padding-bottom: 0px;
}

#srei-hours p {
   margin-bottom: 0;
}

table td { 
  display: table-cell;
  vertical-align: top; 
  padding: 7px;
  border: 1px solid black;
}


.row-title {
   font-size: 1em;
   font-weight: bold;
   color: #333333;
   margin: 0;
}

.row-border-bottom {
   border-bottom: 1px solid #ecf0f1;
}


.invisible {
   display: none;
}

























