html, body {height: 100%;}

body {
   font-family:Arial,Helmet,sans-serif;
   background-color:#000020;
   color: black;
}

a {
   color: #0000EE;
}

a:link { 
   color: #0000EE; 
}

a:visited { 
   color: #551A8B; 
}

.navbar-header {
   padding-left: 0px;
   padding-right: 0px;
   height: 100px;
}

.navbar-brand {
   padding: 0 0 0 0;
}

.navbar {
   height: 100px;
   min-height: 100px;
   background-color: white;
   border-bottom: 2px solid #C9C9C9;
   border-radius: 0;
   margin: 0;
}

.navbar-collapse {
   padding-left: 0;
   padding-right: 0;
}

.navbar-default .navbar-nav>li>a {
   color: #0000EE;
}

#login {
   float: right;
   padding-top: 35px;
   margin-right: 25px; 
   font-size: 0.95em;
}

.container {
   margin: 0;
   padding: 0;
}

#content {
   position: relative;
   width: 100%;
}

#map-canvas {
   float: left;
   height: 100%;
}

#search-collumn {
   float: right;
   width:400px;
   height:100%;
   overflow-y: scroll;
   background-color: white;
   border-left: 2px solid #C9C9C9;
   border-radius: 0;
   background-color: white;
}

.search-collumn-padding {
   padding-left: 30px;
   padding-right: 30px;
   padding-top: 15px;
   padding-bottom: 15px;
}

#search-collumn h1 {

   text-align: center;
   color: rgb(0,84,166);
   margin: 0.33em 0;
}

#basic_search_input {
   display: block;
   border: 2px solid #C9C9C9;
   border-radius: 30px;
   line-height: 1.0;
   height: 30px;
   padding-top: 10px;
}

#advanced-search {
   display: block;
   text-align: left;
   margin-top: 0;
   margin-left: 0;
   padding-left: 0;
   border: none;
   border-radius: 0;
   background-color: rgba(0, 0, 0, 0.0);
   color: rgb(0,84,166);
   border-color: rgb(0,84,166);
   text-decoration: underline;
}

#search-box {
   border-bottom: 1px solid #C9C9C9;
   border-radius: 0px;
}

#filter-box {
   border-bottom: 2px solid #C9C9C9;
   border-radius: 0px;
}

#filter-box-container {
   width: 200px;
}

#range {
   padding-top: 4px;
}

#range select {
   float: right;
   margin-top: 2px;
}

#search-by {
   padding-top: 4px;
}

#search-by select {
   float: right;
   margin-top: 2px;
}

#open-resorts {
   padding-top: 4px;
}

.span-float-right {
   float: right;
}

#open-resorts-checkbox {
   margin-right: 5px;
}

.block-elements {
   display: block;
}

.search-results {
   border-bottom: 1px solid #C9C9C9;
   border-radius: 0px;
}

.search-results h2 {
   font-size: 1.5em;
   color: rgb(0,84,166);
   margin: 0.33em 0;
   max-width: 300px;
}

.search-results span {
   font-size: 0.85em;
}

.resort-title-line {
   width: 100%;
   padding-bottom: 5px;
}

.resort-title-line h2 {
   display: inline;
}

.star {
   width: 20px;
   height: 20px;
   float: right;
}

#star-1 {
   background: url(../images/StarRollover.png) no-repeat 0 0;
}

#star-1:hover {
   background-position: -19px 0px;
}

.runs-open-container {
   width: 100%;
   padding-left: 2px;
   padding-right: 2px;
}

#runs-open-container-1 {
   background-color: #9FF7F8;
}

.runs-open {
   float: right;
   padding-top: 3px;
   padding-right: 2px;
}

.snowfall-container {
   width: 100%;
   padding-left: 2px;
   padding-right: 2px;
}

.snowfall {
   float: right;
   padding-top: 3px;
   padding-right: 2px;
}

#snowfall-container-1 {
   background-color: #CFA20E;
}