html, body {height: 100%;}

body {
   font-family:Arial,Helmet,sans-serif;
   background-color:#000020;
   color: black;
}

a {
   color: #0000EE;
}

a:link { 
   color: #0000EE; 
}

a:visited { 
   color: #551A8B; 
}

span { 
    height: 100%;
    vertical-align: middle;
    display: inline-block; 
 }

 h1, h2, h3, h4 {
   color: rgb(0,84,166);
 }


#login {
   float: right;
   padding-top: 15px;
   margin-right: 25px; 
   font-size: 0.95em;
}

.container {
   margin: 0;
   padding: 0;
}

#content {
   position: absolute;
   left: 0;
   top: 100px;
   width: 100%;
}

#search-bar {
   position: absolute;
   vertical-align: middle;
   display: inline-block; 
   left: 0;
   top: 50px;
   height: 50px;
   background-color: #ecf0f1;
   border-bottom: 2px solid #C9C9C9;
   border-radius: 0;
   margin-left: 300px;
   padding-top: 7px;
   padding-left: 15px;
   padding-bottom: 7px;
   padding-right: 15px;
}

#basic_search_input {
   vertical-align: middle;
   display: inline-block; 
   border: 2px solid #C9C9C9;
   border-radius: 30px;
   line-height: 1.0;
   height: 30px;
   width: 300px;

}

#range {
   display: inline;
   padding-left: 15px;
}

#range select {

}

#search-by {
   display: inline;
   padding-left: 15px;
}

#search-by select {
   margin-top: 2px;
}

#open-resorts {
   display: inline;
   padding-top: 4px;
   padding-left: 15px;
}

#open-resorts span {
   vertical-align: middle;
   display: inline-block;
   height: 100%;
   padding-top: 5px;
}

#open-resorts-checkbox {
   margin-right: 5px;
}

#advanced-search {
   height: 100%;
   vertical-align: middle;
   display: inline-block; 
   text-align: left;
   margin-top: -10px;
   margin-left: 15px;
   padding-left: 0;
   border: none;
   border-radius: 0;
   background-color: rgba(0, 0, 0, 0.0);
   color: rgb(0,84,166);
   border-color: rgb(0,84,166);
   text-decoration: underline;
}

#map-canvas {
   float: left;
   height: 100%;
}

#search-info {
   position: absolute;
   left: 400px;
   top: 0;
   overflow: hidden;
   background-color: white;
}

#result-extended-info {
   float: right;
   padding-left: 30px;
   padding-right: 30px;
   padding-top: 15px;
   padding-bottom: 15px;
   border-left: 2px solid #C9C9C9;
   border-right: 2px solid #C9C9C9;
   border-bottom: 2px solid #C9C9C9;
}

#search-collumn {
   float: left;
   width:400px;
   height:100%;
   overflow-y: scroll;
   background-color: white;
   border-left: 2px solid #C9C9C9;
   border-radius: 0;
   background-color: white;
   margin: 0;
}

.search-collumn-padding {
   padding-left: 30px;
   padding-right: 30px;
   padding-top: 15px;
   padding-bottom: 15px;
}

#search-collumn h1 {

   text-align: center;
   color: rgb(0,84,166);
   margin: 0.33em 0;
}

#search-box {
   border-bottom: 1px solid #C9C9C9;
   border-radius: 0px;
}

#filter-box {
   border-bottom: 2px solid #C9C9C9;
   border-radius: 0px;
}

#filter-box-container {
   width: 200px;
}

.search-results {
   border-bottom: 1px solid #C9C9C9;
   border-radius: 0px;
}

.search-results h2 {
   font-size: 1.5em;
   color: rgb(0,84,166);
   margin: 0.33em 0;
   max-width: 300px;
}

.search-results span {
   font-size: 0.85em;
}

.resort-title-line {
   width: 100%;
   padding-bottom: 5px;
}

.resort-title-line h2 {
   display: inline;
}

.star {
   width: 20px;
   height: 20px;
   float: right;
}

#star-1 {
   background: url(../images/StarRollover.png) no-repeat 0 0;
}

#star-1:hover {
   background-position: -19px 0px;
}

.runs-open-container {
   width: 100%;
   padding-left: 2px;
   padding-right: 2px;
}

#runs-open-container-1 {
   background-color: #9FF7F8;
}

.runs-open {
   float: right;
   padding-top: 3px;
   padding-right: 2px;
}

.snowfall-container {
   width: 100%;
   padding-left: 2px;
   padding-right: 2px;
}

.snowfall {
   float: right;
   padding-top: 3px;
   padding-right: 2px;
}

#snowfall-container-1 {
   background-color: #CFA20E;
}

.invisible {
   display: none;
}